body {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	height: 100vh;
	margin: 0;
}

header {
	width: 100vw;
	display: flex;
	height: fit-content;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	background-color: #e3170a;
	color: lighten(#fcf6b1, 20);
}

body div#foot {
	width: 100vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	background-color: #a9e5bb;
}

main {
	width: 100vw;
	height: auto;
	background-color: #fcf6b1;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-grow: 100;

	div.container {
		width: 50%;
		height: 40vh;
		background-color: lighten(#fcf6b1, 20);
		margin: 0;
	}
}
